<% @summary[:answers].each do |answer| %>
    <div class="summary_result">
      <img class="painting_thumbnail" src="<%= answer[:thumbnail_url] %>">
      <p>You answered: <%= answer[:given_answer]%><span class="summary_icon <%= answer[:correct] %>"><% if answer[:correct] == "true"%>&#10004;<% else %>&#10008;<% end %></span></p>
      <% if answer[:correct] == "false" %>
        <p>It's <%= answer[:painting_location] %>!</p>
      <% end %>
      <a href="<%= answer[:info_url] %>" target="_blank"><span>Find out more about this painting</span></a>
    </div>
<% end %>