<div class="quiz_results col-md-10">
  <div class="summary_results">
    <%= render partial: 'result_items' %>
  </div>
</div>

<div class="side_panel col-md-2">
  <div class="quiz_header">
    <h2>Congratulations!</h2>
  </div>
  <p>You got <b><%= @summary[:correct_answers] %></b> of <b>5</b> right!</p>

  <p>You scored <b><%= @summary[:points] %></b> points!</p>

  <% if @summary[:correct_answers] >= 2 %>
      <p>Well done!</p>
  <% end %>
  <%= render partial: 'submit_score' %>
  <div class="new_quiz_button"><a class="btn btn-danger" href="/quizzes/new" role="button">Start a new quiz!</a></div>

  <%= image_tag("WhiteLogo", class: "europeana_logo") %>
</div>
