<div class="admin_painting">
  <%= form_for painting do |f| %>
      <%= f.label :europeana_id %>: <%= f.text_field :europeana_id %>
      <%= f.label :location %>: <%= f.text_field :location %>
      <%= f.submit %>
  <% end %>
  <%= form_for painting, :html => {:method => :delete} do |f| %>
      <%= f.submit 'Delete Painting' %>
  <% end %>
  Has Thumbnail: <%= !painting.thumbnail_url.blank? %>, <a href="<%= painting.display_image_url %>" target="_blank">Link to AWS image</a>
</div>